@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Noto Sans", sans-serif;
    background-color: #D4EBF8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.key{
    border: 1px solid #999999;
    background-color: #1F509A;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
    color: white;
}

.key small{
    position: absolute;
    top: -25px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #0A3981;
    font-size: 15px;
}